---
import { getLangFromUrl, slugSelector } from "@/lib/utils/languageParser";
import { markdownify, titleify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  locations: CollectionEntry<"locations">[];
};

const { locations } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<section class="section pt-0">
  <div class="pb-4 bg-gray-white">
    <div class="container">
      <div class="flex justify-between items-center">
        <div class="section-title mb-0">
          <span class="section-title-border"></span>
          <p>Areas We Cover</p>
          <h2 class="!ml-0">Our Locations</h2>
        </div>
        <div class="hidden md:block !mr-0">
          <a
            href={slugSelector("/locations", lang)}
            class="btn btn-primary hover-ripple"
          >
            View All Locations
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row g-4">
      {
        locations.map((location) => {
          const slug = location.id.split("/").pop();
          return (
            <div class="lg:col-4 sm:col-6 mb-4 lg:mb-0">
              <div class="box-shadow">
                <div class="p-6 bg-white dark:bg-darkmode-light">
                  <h5>
                    <a
                      href={slugSelector(`/locations/${slug}`, lang)}
                      class="text-text-dark dark:text-darkmode-text-dark hover:text-primary dark:hover:text-darkmode-primary duration-200"
                    >
                      {titleify(slug || "")}
                    </a>
                  </h5>
                  <p class="mt-2 mb-4 line-clamp-2 text-text-dark/70 dark:text-darkmode-text-dark/70">
                    {location.data.description}
                  </p>
                  <a
                    href={slugSelector(`/locations/${slug}`, lang)}
                    class="btn btn-arrow"
                  >
                    Read More
                  </a>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
