---
import ServiceCard from "@/components/ServiceCard.astro";
import { markdownify } from "@/lib/utils/textConverter";

const { serviceIndex, services, title, subtitle } = Astro.props;

const heading = title || serviceIndex?.data?.title;
const description = subtitle || serviceIndex?.data?.description;
---

<section class="bg-gray-white">
  <div class="section bg-secondary dark:bg-darkmode-secondary pb-60">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <span class="section-title-border bg-primary-on-dark border-center"
            ></span>
            <p class="text-h5" set:html={markdownify(description)} />
            <h2 class="h1 text-white" set:html={markdownify(heading)} />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="-translate-y-50">
    <ServiceCard services={services} />
  </div>
</section>
